.card-bg {
  /* background-color: rgba(178, 197, 191, 0.815); */
  background-color: rgba(204, 211, 218, 0.842);
  box-shadow: rgb(24 23 23 / 24%) 7px 6px 10px;
  border: none;
  border-radius: 10px;
}
.img-size {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}
