.card-bg {
  background-color: aliceblue;
  /* box-shadow: aquamarine; */
  box-shadow: rgba(24, 23, 23, 0.24) 2px 3px 9px;
  border: none;
  border-radius: 10px;
}
.img-size {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}
